@model web_banvemaybay.Models.Chuyenbay
@{
    ViewBag.Title = "NhapThongTin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="@Url.Action("tt","Flight", new { id = "myForm" })" method="post">
    <!-- Nội dung form tại đây -->

    <div class="information">
        <div class="information-left">
            <div class="customer-info">
                <div class="customer-info-heading">
                    <i class="fa-solid fa-users"></i>
                    Thông tin khách hàng
                </div>
                <div class="customer-info-body">
                    <ul class="customer-i">
                        <li>
                            <p>Giới tính <sup>*</sup></p>
                            <select name="gioitinh" id="gioitinh" class="ci-gender">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nử</option>
                            </select>
                        </li>
                        <li>
                            <p>Họ tên <sup>*</sup></p>
                            <input type="text" name="name" placeholder="Nhập họ tên" required class="form-control">
                        </li>
                        <li>
                            <p>Ngày sinh <sup>*</sup></p>
                            <input type="date" name="birthday" id="birthday">
                        </li>
                    </ul>
                    <div class="note">
                        <h3><i class="fa-solid fa-triangle-exclamation"></i>Lưu ý về độ tuổi người lớn, trẻ em, trẻ sơ sinh</h3>
                        <p><i class="fa-regular fa-hand-point-right"></i>Người lớn từ 12 tuổi trở lên.</p>
                        <p><i class="fa-regular fa-hand-point-right"></i>Nếu trẻ em và em bé của bạn không sinh vào khoảng thời gian trên, vui lòng chọn ngày bay khác.</p>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="contact-info-heading">
                    <i class="fa-solid fa-inbox"></i>
                    Thông tin liên hệ
                </div>
                <div class="contact-info-body">
                    <ul class="contact-i">
                        <li>
                            <p>Quý danh <sup>*</sup></p>
                            <select name="gioitinhlh" id="gioitinhlh" class="ci-gender">
                                <option value="1">Quý Ông</option>
                                <option value="2">Quý Bà</option>
                            </select>
                        </li>
                        <li>
                            <p>Họ tên <sup>*</sup></p>
                            <input type="text" name="namelh" placeholder="Họ tên" required class="form-control">
                        </li>
                        <li>
                            <p>Điện thoại<sup>*</sup></p>
                            <input type="text" name="sdtlh" placeholder="Điện thoại" required class="form-control">
                        </li>
                        <li>
                            <p>Email <sup>*</sup></p>
                            <input type="email" name="emaillh" placeholder="Email" required class="form-control">
                        </li>
                    </ul>
                    @*       <div class="invoice">
                            <div class="invoice-on">
                                <label for="invoice"><input type="checkbox" name="invoice" id="invoice">Tôi muốn xuất hóa đơn</label>
                            </div>
                            <div class="invoice-in">
                                <ul class="invoice-i">
                                    <li>
                                        <p>Tên công ty <sup>*</sup></p>
                                        <input type="text" placeholder="Tên công ty" required class="form-control">
                                    </li>
                                    <li>
                                        <p>Địa chỉ <sup>*</sup></p>
                                        <input type="text" placeholder="Địa chỉ" required class="form-control">
                                    </li>
                                    <li>
                                        <p>Thành phố <sup>*</sup></p>
                                        <input type="text" placeholder="Thành phố" required class="form-control">
                                    </li>
                                    <li>
                                        <p>Mã số thuế VAT <sup>*</sup></p>
                                        <input type="text" placeholder="Mã số thuế VAT" required class="form-control">
                                    </li>
                                    <li>
                                        <p>Người nhận hóa đơn<sup>*</sup></p>
                                        <input type="text" placeholder="Người nhận hóa đơn" required class="form-control">
                                    </li>
                                    <li>
                                        <p>Email <sup>*</sup></p>
                                        <input type="email" placeholder="Email" required class="form-control">
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="payment">
                <div class="payment-heading">
                    <i class="fa-solid fa-money-bill"></i>
                    Phương thức thanh toán
                </div>
                <div class="payment-body">
                    <ul class="payment-i">
                        <li>
                            <input type="radio" name="payment" id="payment2">
                            <label for="payment2">Thanh toán tại nhà quý khách</label>
                        </li>
                        <li>
                            <input type="radio" name="payment" id="payment1">
                            <label for="payment1">Thanh toán tại văn phòng</label>
                        </li>
                        <div class="payment1">
                            Địa chỉ: 10/80C XL Hà Nội, Phường Tân Phú, Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam
                        </div>

                        <li>
                            <input type="radio" name="payment" id="payment3">
                            <label for="payment3">Chuyển khoản ngân hàng</label>
                        </li>
                        <div class="payment3">
                            Chủ TK: TRẦN TRUNG BẢO KHA<br>
                            STK: 027100109923
                        </div>
                    </ul>
                    <input type="submit" value="Tìm kiếm " class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="information-right">
            <div class="information-r-heading">
                <i class="fa-solid fa-cart-shopping"></i>
                Chuyến bay của bạn
            </div>
            <div class="information-r-body">
                <ul class="information-goto">
                    <b>Chuyến bay một chiều</b>
                    <li><p>Đi từ <span class="go">@Model.Diadiemdi</span></p><p>Đến <span class="to">@Model.Diadiemden</span></p></li>
                    <li><span class="go">@Model.Ngaydi</span><span class="to"></span></li>
                    @if (Model.Ngayve != null)
                    {
                        <li><span class="go">@Model.Ngayve</span><span class="to"></span></li>
                    }
                </ul>
                <ul class="information-money">
                    <b>Giá vé tạm tính</b>
                    <li>Giá vé<span>190.000đ</span></li>
                    <li>Thuế<span>62.000đ</span></li>
                    <li>Phí<span>550.000đ</span></li>
                    <li>Phí tiện ích<span>33.000đ</span></li>
                    <li class="li-money-last">Tổng tiền<span>@Session["giatien"]</span></li>
                    <input type="hidden" name="idChuyenBay" value="@Model.IDchuyenbay" />
                    <input type="hidden" name="giatien" value="@Session["giatien"]" />
                </ul>
            </div>

        </div>
    </div>
</form>
<li>
    @using (Html.BeginForm("tongtien", "Flight", FormMethod.Post, new { id = "flightForm" }))
    {
        <select name="idhanhli" id="searchBySelect">
            <option value="0">none</option>
            <option value="1">10kg</option>
            <option value="2">20kg</option>
            <option value="3">30kg</option>

        </select>
        <input type="hidden" name="giatien" value="@Session["giatien"]" />
        <input type="hidden" name="idChuyenBay" value="@Model.IDchuyenbay" />
    }

</li>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selectElement = document.getElementById('searchBySelect');
        selectElement.addEventListener('change', function () {
            localStorage.setItem('selectedOption', this.value);
            document.getElementById('flightForm').submit();
        });

        var selectedOption = localStorage.getItem('selectedOption');
        if (selectedOption) {
            selectElement.value = selectedOption;
        }
    });








    document.getElementById('invoice').onclick = function (e) {
        if (this.checked) {
            document.querySelector(".invoice-in").style.display = "block"
        }
        else {
            document.querySelector(".invoice-in").style.display = "none"
        }
    }
    document.getElementById('payment1').onclick = function (e) {
        if (this.checked) {
            document.querySelector(".payment1").style.display = "block"
            document.querySelector(".payment3").style.display = "none"
        }
    }
    document.getElementById('payment2').onclick = function (e) {
        if (this.checked) {
            document.querySelector(".payment1").style.display = "none"
            document.querySelector(".payment3").style.display = "none"
        }
    }
    document.getElementById('payment3').onclick = function (e) {
        if (this.checked) {
            document.querySelector(".payment1").style.display = "none"
            document.querySelector(".payment3").style.display = "block"
        }
    }


</script>