@model web_banvemaybay.Models.Chuyenbay
@{
    Layout = null;
}

<h1>Hảng hàng không </h1>
<p>@Model.Diadiemdi</p>
<p>@Model.Ngaydi</p>
<p>@Model.Diadiemden</p>
<p>@Model.Ngayve</p>
<p>@Model.Giatien</p>
