@using web_banvemaybay.Models;
@model IEnumerable<Chuyenbay>
<!-- Hiển thị danh sách chuyến bay -->
@{
    ViewBag.Title = "ChonVe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-choose">
    <div class="choose">
        <div class="choose-heading">
            <i class="only-icon fa-solid fa-plane-up"></i>
            <div class="choose-heading-content">
                <p>@Session["to"] <i class="fa-solid fa-arrow-right"></i> @Session["from"]</p>
                <span>@Session["dateto"]</span>
            </div>
        </div>
        <div class="choose-container">
            @foreach (var chuyenbay in Model)
            {
                <div class="choose-item">
                    <div class="choose-img">
                        <img src="@chuyenbay.HangHK.Hinhanh" alt="">
                    </div>
                    <div class="choose-time-go">
                        <span>@chuyenbay.Diadiemdi</span>
                        <p>@chuyenbay.Ngaydi.Value.ToString("HH:mm")</p>
                    </div>
                    @*@if ( chuyenbay.Ngayve != null)
                    {*@
                        <div class="choose-time-next">
                            <span>@chuyenbay.Diadiemden</span>
                            <p>@chuyenbay.Ngaydi.Value.AddHours(1).AddMinutes(30).ToString("HH:mm")</p>
                        </div>
                    @*}*@
                    <div class="choose-money">
                        <b>@String.Format("{0:0,0}", @chuyenbay.Giatien)</b><span> VNĐ</span>
                    </div>
                    <a class="btn-choose" href="@Url.Action("Information","Flight" ,new {id=chuyenbay.IDchuyenbay})">
                        Chọn
                    </a>
                </div>
            }

        </div>
    </div>
    <div class="choose-mode">
        <div class="choose-mode-heading">
            <i class="fa-regular fa-eye"></i>
            Chế độ hiển thị theo
        </div>
        @using (Html.BeginForm("Pirec", "Flight", FormMethod.Post, new { id = "flightForm" }))
        {
            <div class="choose-mode-body">
                <div class="choose-mode-item">
                    <label for="priceSort"><input type="radio" name="searchBy" id="priceSort" value="priceSort" checked> Giảm dần</label>
                </div>
                <div class="choose-mode-item">
                   <label for="priceSort1"><input type="radio" name="searchBy" id="priceSort1" value="priceSort1"> Tăng dần</label>
                </div>   
            </div>
        }
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var radioButtons = document.getElementsByName('searchBy');
                for (var i = 0; i < radioButtons.length; i++) {
                    radioButtons[i].addEventListener('change', function () {
                        localStorage.setItem('selectedRadioButton', this.value);
                    });
                    if (localStorage.getItem('selectedRadioButton') === radioButtons[i].value) {
                        radioButtons[i].checked = true;
                    }
                }
            });
        </script>
        <script>
            document.getElementById("priceSort").addEventListener("change", function () {
                document.getElementById("flightForm").submit();
            });

            document.getElementById("priceSort1").addEventListener("change", function () {
                document.getElementById("flightForm").submit();
            });
        </script>

        @using (Html.BeginForm("SearchFlight", "Flight", FormMethod.Post, new { id = "myForm" }))
        {
            <div class="choose-search">
                <div class="choose-s-heading">
                    <p><i><i class="fa-solid fa-magnifying-glass fa-bounce"></i></i>Tìm kiếm vé</p>
                    <div class="choose-check">
                        <div class="flex-al-ct"><input type="radio" name="ticket-type" id="one-way" checked><label for="one-way"> Một chiều</label></div>
                        <div class="flex-al-ct"><input type="radio" name="ticket-type" id="round-trip"><label for="round-trip"> Khứ hồi</label></div>
                    </div>
                </div>

                <div class="tic-content" style="padding: 0;">
                    <div class="deprture js-open-location">
                        <i class="fa-sharp fa-solid fa-plane-departure"></i>
                        <input class="in-location" type="text" name="to" id="to" value="@Session["to"]" />
                    </div>
                    <div class="destination js-open-location-2">
                        <i class="fa-solid fa-plane-arrival"></i>
                        <input class="in-location" type="text" name="from" id="from" value="@Session["from"]" />
                    </div>
                    <input class="in-date" type="date" name="dateto" id="dateto" value="@Session["dateto"]" />
                    <input class="in-date" type="date" name="datefrom" id="datefrom" value="@Session["datefrom"]" disabled />

                    <div class="number-p">
                        <button class="btn-number-p">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" name="p-tong" id="p-tong" value="1" />
                        </button>
                        <div class="p-table p-table-s">
                            <div class="p-item">
                                <div class="p-item-left">
                                    <p>Người lớn</p>
                                    <span>(Trên 18)</span>
                                </div>
                                <div class="p-item-right">
                                    <button class="btn-p" onclick="handleMinusnl()">-</button>
                                    <input type="text" name="nl" id="nl" value="1">
                                    <button class="btn-p" onclick="handlePlusnl()">+</button>
                                </div>
                            </div>
                            <div class="p-item">
                                <div class="p-item-left">
                                    <p>Trẻ em</p>
                                    <span>(2 - 12)</span>
                                </div>
                                <div class="p-item-right">
                                    <button class="btn-p" onclick="handleMinuste()">-</button>
                                    <input type="text" name="te" id="te" value="0">
                                    <button class="btn-p" onclick="handlePluste()">+</button>
                                </div>
                            </div>
                            <div class="p-item">
                                <div class="p-item-left">
                                    <p>Em bé</p>
                                    <span>(0 - 2)</span>
                                </div>
                                <div class="p-item-right">
                                    <button class="btn-p" onclick="handleMinuseb()">-</button>
                                    <input type="text" name="eb" id="eb" value="0">
                                    <button class="btn-p" onclick="handlePluseb()">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn-find-tic  btn-pa flex-al-ct">Tìm chuyến bay</button>
                    <script>
                        // Lấy danh sách các button có class là "btn-p"
                        var buttons = document.getElementsByClassName('btn-p');
                        // Duyệt qua từng button và ngăn chặn sự kiện click của chúng
                        for (var i = 0; i < buttons.length; i++) {
                            buttons[i].addEventListener('click', function (e) {
                                e.preventDefault();
                            });
                        }
                        var buttons = document.getElementsByClassName('btn-number-p');
                        // Duyệt qua từng button và ngăn chặn sự kiện click của chúng
                        for (var i = 0; i < buttons.length; i++) {
                            buttons[i].addEventListener('click', function (e) {
                                e.preventDefault();
                            });
                        }
                    </script>

                </div>
            </div>
        }
    </div>
</div>
@*----------------------------- <location-di> -----------------------------*@
<div class="location js-location">
    <div class="location-container js-location-container">
        <header class="location-header">
            <div class=l-h>Lựa chọn thành phố hoặc sân bay xuất phát</div>
            <div class="location-close js-location-close">
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </div>
        </header>
        <div class="locition-body ">
            <div class="locition-body-search">
                <input type="text" name="search" id="search" placeholder="Tìm địa điểm bạn muốn ?">
                <button class="btn-search"><i class="fa-sharp fa-solid fa-magnifying-glass fa-bounce"></i></button>
            </div>
            <div class="locition-body-content">
                <div class="Bac-Nam">
                    <ul>Miền bắc</ul>
                    <li>Hà Nội</li>
                    <li>Hải lihòng</li>
                    <li>Điện Biên lihủ</li>
                    <li>Vân đồn</li>
                    <ul>Miền Nam</ul>
                    <li>Hồ Chí Minh</li>
                    <li>lihú Quốc</li>
                    <li>Cà Mau</li>
                    <li>Cần Thơ</li>
                    <li>Côn Đảo</li>
                    <li>Kiên Giang</li>
                </div>
                <div class="Trung">
                    <ul>Miền Trung</ul>
                    <li>Đà Nẵng</li>
                    <li>Nha Trang</li>
                    <li>Đà Lạt</li>
                    <li>Huế</li>
                    <li>Ban Mê Thuột</li>
                    <li>lileiKu</li>
                    <li>lihú Yên</li>
                    <li>Thanh Hóa</li>
                    <li>Qui Nhơn</li>
                    <li>Chu Lai</li>
                    <li>Quảng Bình</li>
                    <li>Vinh</li>
                </div>
                <div class="ChauA">
                    <ul>Châu Á</ul>
                    <li>Băng Cốc</li>
                    <li>Quảng Châu</li>
                    <li>Hồng Kông</li>
                    <li>Kuala Lumliur</li>
                    <li>Seoul, Incheon</li>
                    <li>Thượng Hải</li>
                    <li>Singaliore</li>
                    <li>Đài Bắc</li>
                    <li>Tokyo</li>
                    <li>Camliuchia</li>
                </div>
                <div class="Au-My">
                    <ul>Châu Âu</ul>
                    <li>Amsterdam</li>
                    <li>Cô-lien-ha-gen</li>
                    <li>Frankfurt</li>
                    <li>London</li>
                    <li>liaris</li>
                    <li>liraha</li>
                    <li>Stockholm</li>
                    <li>Zurich</li>
                    <ul>Châu úc & Mỹ</ul>
                    <li>Dallas</li>
                    <li>Houston</li>
                    <li>Los Angeles</li>
                    <li>Men-bơn</li>
                    <li>New York</li>
                    <li>San Francisco</li>
                    <li>Sydney</li>
                    <li>Toronto</li>
                    <li>Vancouver</li>
                </div>
            </div>
        </div>
    </div>
</div>
@*----------------------------- <location-ve> -----------------------------*@
<div class="location-2 js-location-2">
    <div class="location-container-2 js-location-container-2">
        <header class="location-header-2">
            <div class=l-h>Lựa chọn thành phố hoặc sân bay muốn đến</div>
            <div class="location-close-2 js-location-close-2">
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </div>
        </header>
        <div class="locition-body-2 ">
            <div class="locition-body-search-2">
                <input type="text" name="search" id="search" placeholder="Tìm địa điểm bạn muốn ?">
                <button class="btn-search"><i class="fa-sharp fa-solid fa-magnifying-glass fa-bounce"></i></button>
            </div>
            <div class="locition-body-content-2">
                <div class="Bac-Nam">
                    <ul>Miền bắc</ul>
                    <li>Hà Nội</li>
                    <li>Hải lihòng</li>
                    <li>Điện Biên lihủ</li>
                    <li>Vân đồn</li>
                    <ul>Miền Nam</ul>
                    <li>Hồ Chí Minh</li>
                    <li>lihú Quốc</li>
                    <li>Cà Mau</li>
                    <li>Cần Thơ</li>
                    <li>Côn Đảo</li>
                    <li>Kiên Giang</li>
                </div>
                <div class="Trung">
                    <ul>Miền Trung</ul>
                    <li>Đà Nẵng</li>
                    <li>Nha Trang</li>
                    <li>Đà Lạt</li>
                    <li>Huế</li>
                    <li>Ban Mê Thuột</li>
                    <li>lileiKu</li>
                    <li>lihú Yên</li>
                    <li>Thanh Hóa</li>
                    <li>Qui Nhơn</li>
                    <li>Chu Lai</li>
                    <li>Quảng Bình</li>
                    <li>Vinh</li>
                </div>
                <div class="ChauA">
                    <ul>Châu Á</ul>
                    <li>Băng Cốc</li>
                    <li>Quảng Châu</li>
                    <li>Hồng Kông</li>
                    <li>Kuala Lumliur</li>
                    <li>Seoul, Incheon</li>
                    <li>Thượng Hải</li>
                    <li>Singaliore</li>
                    <li>Đài Bắc</li>
                    <li>Tokyo</li>
                    <li>Camliuchia</li>
                </div>
                <div class="Au-My">
                    <ul>Châu Âu</ul>
                    <li>Amsterdam</li>
                    <li>Cô-lien-ha-gen</li>
                    <li>Frankfurt</li>
                    <li>London</li>
                    <li>liaris</li>
                    <li>liraha</li>
                    <li>Stockholm</li>
                    <li>Zurich</li>
                    <ul>Châu úc & Mỹ</ul>
                    <li>Dallas</li>
                    <li>Houston</li>
                    <li>Los Angeles</li>
                    <li>Men-bơn</li>
                    <li>New York</li>
                    <li>San Francisco</li>
                    <li>Sydney</li>
                    <li>Toronto</li>
                    <li>Vancouver</li>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const nembleP = document.querySelector('.btn-number-p')
    const closeNembleP = document.querySelector('body')
    const pTable = document.querySelector('.p-table')
    nembleP.addEventListener('click', function () {
        document.querySelector(".p-table").style.display = "block"
    })
    closeNembleP.addEventListener('click', function () {
        document.querySelector(".p-table").style.display = "none"
    })
    nembleP.addEventListener('click', function (event) {
        event.stopPropagation()
    })
    pTable.addEventListener('click', function (event) {
        event.stopPropagation()
    })
    const locationBtns = document.querySelectorAll('.js-open-location')
    const locationOnly = document.querySelector('.js-location')
    const locationContainer = document.querySelector('.js-location-container')
    const locationClose = document.querySelector('.js-location-close')
    function showLocations() {
        locationOnly.classList.add('location-open')
    }
    function hideLocations() {
        locationOnly.classList.remove('location-open')
    }
    for (const locationBtn of locationBtns) {
        locationBtn.addEventListener('click', showLocations)
    }
    locationClose.addEventListener('click', hideLocations)
    locationOnly.addEventListener('click', hideLocations)
    locationContainer.addEventListener('click', function (event) {
        event.stopPropagation()
    })
    const locationBtns2 = document.querySelectorAll('.js-open-location-2')
    const locationOnly2 = document.querySelector('.js-location-2')
    const locationContainer2 = document.querySelector('.js-location-container-2')
    const locationClose2 = document.querySelector('.js-location-close-2')
    function showLocations2() {
        locationOnly2.classList.add('location-open')
    }
    function hideLocations2() {
        locationOnly2.classList.remove('location-open')
    }
    for (const locationBtn2 of locationBtns2) {
        locationBtn2.addEventListener('click', showLocations2)
    }
    locationClose2.addEventListener('click', hideLocations2)
    locationOnly2.addEventListener('click', hideLocations2)
    locationContainer2.addEventListener('click', function (event) {
        event.stopPropagation()
    })
    document.getElementById('one-way').onclick = function (e) {
        if (this.checked) {
            document.querySelector("#datefrom").style = "opacity: 0.3; cursor: no-drop;"
            document.querySelector("#datefrom").disabled = true;
        }
    }
    document.getElementById('round-trip').onclick = function (e) {
        if (this.checked) {
            document.querySelector("#datefrom").style = "opacity: 1; cursor: pointer;"
            document.querySelector("#datefrom").disabled = false;
        }
    }
    const chonDiaDiems = document.querySelectorAll('.locition-body-content li')
    for (const chonDiaDiem of chonDiaDiems) {
        chonDiaDiem.addEventListener('click', function () {
            document.querySelector("#to").value = chonDiaDiem.innerText;
        })
        chonDiaDiem.addEventListener('click', hideLocations)
    }
    const chonDiaDiems2 = document.querySelectorAll('.locition-body-content-2 li')
    for (const chonDiaDiem2 of chonDiaDiems2) {
        chonDiaDiem2.addEventListener('click', function () {
            document.querySelector("#from").value = chonDiaDiem2.innerText;
        })
        chonDiaDiem2.addEventListener('click', hideLocations2)
    }
    //js tinh tong nguoi
    let amountTong = document.getElementById('p-tong')
    let amountT = amountTong.value
    let renderT = (amountT) => {
        amountTong.value = amountT
    }
    amountTong.addEventListener('input', () => {
        amountT = amountTong.value;
        amountT = parseInt(amountT);
        amountT = (isNaN(amountT) || amountT < 1 || amountT > 9) ? 1 : amountT;
        renderT(amountT)
    });
    //js tinh tong nguoi lon
    let amountNguoiLon = document.getElementById('nl')
    let amountNL = amountNguoiLon.value
    let renderNL = (amountNL) => {
        amountNguoiLon.value = amountNL
    }
    let handlePlusnl = () => {
        if (amountNL < 9 && amountT < 9) {
            amountNL++
            amountT++
        }
        renderNL(amountNL);
        renderT(amountT);
    }
    let handleMinusnl = () => {
        if (amountNL > 1 && amountT > 1) {
            amountNL--
            amountT--
        }
        renderNL(amountNL);
        renderT(amountT);
    }
    amountNguoiLon.addEventListener('input', () => {
        amountNL = amountNguoiLon.value;
        amountNL = parseInt(amountNL);
        amountNL = (isNaN(amountNL) || amountNL < 1 || amountNL > 9) ? 1 : amountNL;
        renderNL(amountNL)
    });
    //js tinh tong tre em
    let amountTreEm = document.getElementById('te')
    let amountTE = amountTreEm.value
    let renderTE = (amountTE) => {
        amountTreEm.value = amountTE
    }
    let handlePluste = () => {
        if (amountTE < 9 && amountT < 9) {
            amountTE++
            amountT++
        }
        renderTE(amountTE);
        renderT(amountT);
    }
    let handleMinuste = () => {
        if (amountTE > 0 && amountT > 1) {
            amountTE--
            amountT--
        }
        renderTE(amountTE);
        renderT(amountT);
    }
    amountTreEm.addEventListener('input', () => {
        amountTE = amountTreEm.value;
        amountTE = parseInt(amountTE);
        amountTE = (isNaN(amountTE) || amountTE < 0 || amountTE > 9) ? 1 : amountTE;
        renderTE(amountTE)
    });
    //js tinh tong em be
    let amountEmBe = document.getElementById('eb')
    let amountEB = amountEmBe.value
    let renderEB = (amountEB) => {
        amountEmBe.value = amountEB
    }
    let handlePluseb = () => {
        if (amountEB < 9 && amountT < 9) {
            amountEB++
            amountT++
        }
        renderEB(amountEB);
        renderT(amountT)
    }
    let handleMinuseb = () => {
        if (amountEB > 0 && amountT > 1) {
            amountEB--
            amountT--
        }
        renderEB(amountEB);
        renderT(amountT);
    }
    amountEmBe.addEventListener('input', () => {
        amountEB = amountEmBe.value;
        amountEB = parseInt(amountEB);
        amountEB = (isNaN(amountEB) || amountEB < 0 || amountEB > 9) ? 1 : amountEB;
        renderEB(amountEB)
    });

</script>
