@model web_banvemaybay.Models.Hanhli

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hanhli</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDhanhli }) |
    @Html.ActionLink("Back to List", "Index")
</p>
