@model web_banvemaybay.Models.Hanhli

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal p15">
    <h2>Sửa</h2><br />
    <h4>Hành lý</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IDhanhli)

    <div class="form-group">
        Kg :
        <div class="col-md-10">
            @Html.EditorFor(model => model.Kg, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Kg, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Giá tiền :
        <div class="col-md-10">
            @Html.EditorFor(model => model.Giatien, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Giatien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-dark" />
        </div>
    </div>
    <div class="p15">
        @Html.ActionLink("Quay lại", "Index")
    </div>
</div>
}


