@model IEnumerable<web_banvemaybay.Models.Hanhli>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thêm/ sửa xóa</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Hành lí</li>
        </ol>
        <p>
            @Html.ActionLink("Thêm mới", "Create")
        </p>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Bảng số liệu hành lí
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                Kg
                            </th>
                            <th>
                                Giá tiền
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kg)
                                </td>
                                <td>
                                    @String.Format("{0:0,0}", int.Parse(@Html.DisplayFor(modelItem => item.Giatien).ToString()))đ
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.IDhanhli }) |
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IDhanhli }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.IDhanhli })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

