@model web_banvemaybay.Models.TTlienhe

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Thông tin liên hệ</h4>
    <hr />
    <dl class="dl-horizontal p15">
        <dt>
            Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<p class="p15">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDlienhe }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
