@model IEnumerable<web_banvemaybay.Models.DiaDiem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thêm/ sửa xóa</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Địa điểm</li>
        </ol>
        <p>
            @Html.ActionLink("Thêm mới", "Create", null, new { style = "background-color: #0077cc; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;" })
        </p>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Danh sách địa điểm
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                Địa điểm
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaDiem1)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { style = "background-color: #0077cc; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;" }) |
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { style = "background-color: #ffd700; color: black; padding: 5px 10px; text-decoration: none; border-radius: 5px;" }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { style = "background-color: #ff0000; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
