@model web_banvemaybay.Models.Chuyenbay

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="p15">
    <h2>Xóa</h2><br />
    <h4>Chuyến bay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Điểm đi : @Html.DisplayFor(model => model.Diadiemdi)
        </dt>

        <dt>
            Điểm đến : @Html.DisplayFor(model => model.Diadiemden)
        </dt>

        <dt>
            Ngày đi : @Html.DisplayFor(model => model.Ngaydi)
        </dt>

        <dt>
            Ngày về : @Html.DisplayFor(model => model.Ngayve)
        </dt>

        <dt>
            Giá tiền : @Html.DisplayFor(model => model.Giatien)
        </dt>

        <dt>
            Hãng hàng không : @Html.DisplayFor(model => model.HangHK.TenHang)
        </dt>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
