@model web_banvemaybay.Models.Chuyenbay

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h2>Xóa</h2>

<div>
    <h4>Chuyến bay</h4>
    <hr />
    <dl class="dl-horizontal p15">
        <dt>
            Điểm đi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diadiemdi)
        </dd>

        <dt>
            Điểm đến
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diadiemden)
        </dd>

        <dt>
            Ngày đi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydi)
        </dd>

        <dt>
            Ngày về
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngayve)
        </dd>

        <dt>
            Giá tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

        <dt>
            Hãng hàng không
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangHK.TenHang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color p15">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
