@model IEnumerable<web_banvemaybay.Models.Chuyenbay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thông tin chuyến bay</h1>
        @using (Html.BeginForm("chitiet", "chitietchuyenbay", FormMethod.Post))
        {
            <input type="text" name="idchuyenbay" id="idchuyenbay" />
            <input type="submit" value="them moi " />
        }
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Lịch trình bay</li>
        </ol>
        <p>
            @Html.ActionLink("Thêm mới", "Create")
        </p>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Bảng số liệu chuyến bay
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                Mã chuyến
                            </th>
                            <th>
                                Số ghế trống (PT)/Số ghế phổ thông
                            </th>
                            <th>
                                Số ghế trống (TG)/Số ghế thương gia
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IDchuyenbay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoThong)/162
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ThuongGia)/16
                                </td>
                                <td>
                                    @Html.ActionLink("Chi tiết", "DoanhThu", new { id = item.IDchuyenbay })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
   
