@model web_banvemaybay.Models.Ve
@{
    ViewBag.Title = "DatThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="done">
    <div class="done-main">
        <div class="done-heading">
            @if (Session["TinhTrang"].ToString() == "Đã thanh toán")
            {
                <i class="fa-solid fa-circle-check fa-bounce"></i><p> Bạn đã đặt vé thành công</p>
            }
            @if (Session["TinhTrang"].ToString() == "Chờ thanh toán" || Session["TinhTrang"].ToString() == null)
            {
                <i class="fa-solid fa-circle-pause fa-fade" style="color: #FFCC00"></i><p style="color: #FFCC00">Chờ thanh toán</p>
            }

        </div>
        @if (Session["idchuyenbay"] != null)
        {
            int id = int.Parse(Session["idchuyenbay"].ToString());
            web_banvemaybay.Models.web_banvemaybayEntities db = new web_banvemaybay.Models.web_banvemaybayEntities();
            var kt = db.Chuyenbay.Where(c => c.IDchuyenbay == id).FirstOrDefault();
            Session["diadiemden"] = kt.Diadiemden;
            if (kt != null)
            {
                <div class="flight-details">

                    @if (Session["idchuyenbaykh"] != null)
                    {
                        <div class="flight-details-heading">
                            Chi tiết chuyến bay đi
                        </div>
                    }
                    else
                    {
                        <div class="flight-details-heading">
                            Chi tiết chuyến bay
                        </div>
                    }
                    <div class="flight-details-body">
                        <div class="flight-details-img">
                            <img src="@kt.HangHK.Hinhanh" alt="">
                        </div>
                        <div class="flight-details-go">
                            <b>Đi từ: @kt.Diadiemdi</b>
                            <p>Cất cánh: <b>@kt.Ngaydi.Value.ToString("HH:mm")</b></p>
                            <p>Ngày: <b>@kt.Ngaydi.Value.ToString("dd/MM/yyyy")</b></p>
                        </div>
                        <div class="flight-details-to">
                            <b>Đi đến: @kt.Diadiemden</b>
                            <p>
                                Hạ cánh: <b>
                                    @if (@kt.Ngayve != null)
                                    {
                                        @kt.Ngayve.Value.ToString("HH:mm")
                                    }
                                    else
                                    {
                                        @kt.Ngaydi.Value.AddHours(1).AddMinutes(30).ToString("HH:mm")
                                    }
                                </b>
                            </p>
                            <p>
                                Ngày: <b>
                                    @if (@kt.Ngayve != null)
                                    {
                                        @kt.Ngayve.Value.ToString("dd/MM/yyyy")
                                    }
                                    else
                                    {
                                        @kt.Ngaydi.Value.AddHours(1).AddMinutes(30).ToString("dd/MM/yyyy")
                                    }
                                </b>
                            </p>
                        </div>
                        <div class="flight-details-info">
                            <p>Chuyến bay: <b>@kt.IDchuyenbay</b></p>
                            <p>Thời gian: <b>02h 30p</b></p>
                            <p>Hành lý ký gửi: <b>@Session["KgHanhly"]</b> </p>
                            <p>Hạng vé: <b>@Session["Hangge"]</b> </p>
                            <p>Số lượng khách: <b>@Session["soluong"]</b></p>
                        </div>
                    </div>

                </div>
            }
        }
        @if (Session["idchuyenbaykh"] != null)
        {
            int id = int.Parse(Session["idchuyenbaykh"].ToString());
            web_banvemaybay.Models.web_banvemaybayEntities db = new web_banvemaybay.Models.web_banvemaybayEntities();
            var kt = db.Chuyenbay.Where(c => c.IDchuyenbay == id).FirstOrDefault();
            if (kt != null)
            {
                <div class="flight-details">
                    <div class="flight-details-heading">
                        Chi tiết chuyến bay khứ hồi
                    </div>

                    <div class="flight-details-body">
                        <div class="flight-details-img">
                            <img src="@kt.HangHK.Hinhanh" alt="">
                        </div>
                        <div class="flight-details-go">
                            <b>Đi từ: @kt.Diadiemdi</b>
                            <p>Cất cánh: <b>@kt.Ngaydi.Value.ToString("HH:mm")</b></p>
                            <p>Ngày: <b>@kt.Ngaydi.Value.ToString("dd/MM/yyyy")</b></p>
                        </div>
                        <div class="flight-details-to">
                            <b>Đi đến: @kt.Diadiemden</b>
                            <p>
                                Hạ cánh: <b>
                                    @if (@kt.Ngayve != null)
                                    {
                                        @kt.Ngayve.Value.ToString("HH:mm")
                                    }
                                    else
                                    {
                                        @kt.Ngaydi.Value.AddHours(1).AddMinutes(30).ToString("HH:mm")
                                    }
                                </b>
                            </p>
                            <p>
                                Ngày: <b>
                                    @if (@kt.Ngayve != null)
                                    {
                                        @kt.Ngayve.Value.ToString("dd/MM/yyyy")
                                    }
                                    else
                                    {
                                        @kt.Ngaydi.Value.AddHours(1).AddMinutes(30).ToString("dd/MM/yyyy")
                                    }
                                </b>
                            </p>
                        </div>
                        <div class="flight-details-info">
                            <p>Chuyến bay: <b>@kt.IDchuyenbay</b></p>
                            <p>Thời gian: <b>02h 30p</b></p>
                            <p>Hành lý ký gửi: <b>@Session["KgHanhlyHK"]</b> </p>
                            <p>Hạng vé: <b>@Session["Hangge"]</b> </p>
                            <p>Số lượng khách: <b>@Session["soluong"]</b></p>
                        </div>
                    </div>

                </div>
            }
        }

        <div class="ticket-details">
            <div class="ticket-details-heading">
                Thông tin vé
            </div>
            <div class="ticket-details-body">
                @if (Session["idchuyenbaykh"] != null)
                {
                    <div class="ticket-details-item">
                        <b>Mã vé chuyến đi: </b> <span>@Session["idVeMoi"]</span>
                    </div>
                    <div class="ticket-details-item">
                        <b>Mã vé chuyến khứ hồi: </b> <span>@Session["idVeKH"]</span>
                    </div>
                }
                else
                {
                    <div class="ticket-details-item">
                        <b>Mã vé: </b> <span>@Session["idVeMoi"]</span>
                    </div>
                }

                <div class="ticket-details-item">
                    <b>Trạng thái: </b>
                    @if (Session["TinhTrang"].ToString() == "Đã thanh toán")
                    {
                        <span>Đã thanh toán</span>
                    }
                    else
                    {
                        <span>Chưa thanh toán</span>
                    }
                </div>
                @if (Session["idchuyenbay"] != null)
                {
                    if (Session["idchuyenbaykh"] != null)
                    {
                        <div class="ticket-details-item">
                            <b>Chuyến bay: </b> <span>Khứ hồi </span>
                        </div>
                    }
                    else
                    {
                        <div class="ticket-details-item">
                            <b>Chuyến bay: </b> <span>Một chiều</span>
                        </div>
                    }
                }
                <div class="ticket-details-item">
                    <b>Số hành khách: </b> <span>@Session["soluong"]</span>
                </div>
                <div class="ticket-details-money">
                    <b>Tổng cộng: </b> <span>@String.Format("{0:0,0}", @Session["giatien"])đ</span>
                </div>
            </div>

        </div>
        <div class="contact-details">
            <div class="contact-details-heading">
                Thông tin liên hệ
            </div>
            <div class="contact-details-body">
                <div class="contact-details-item">
                    <b>Họ tên: </b> <span>@Session["namelh"]</span>
                </div>
                <div class="contact-details-item">
                    <b>Điện thoại: </b> <span>@Session["sdtlh"]</span>
                </div>
                <div class="contact-details-item contact-details-item-100">
                    <b>Email: </b> <span>@Session["emaillh"]</span>
                </div>

                <div class="contact-details-item contact-details-item-100">
                    <b>Phương thức thanh toán: </b><span>@Session["payment"]</span>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="contact">
    <h1>Một số khánh sạn gần sân bay có thể bạn cần</h1>
    <div id="map" style=" width: 92%; height: 600px; margin-left: auto; margin-right: auto;"></div>
</div>

<script>
    var map;
    var service;
    var infowindow;

    function initMap() {
        infowindow = new google.maps.InfoWindow();
        // Lấy vị trí hiện tại của người dùng
        navigator.geolocation.getCurrentPosition(function (position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;

            var uluru = { lat: lat, lng: lng };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: uluru
            });
        });
    }
    function geocodeAfterDelay() {
        setTimeout(function () {
            // Lấy địa chỉ được chọn
            var selectedAddress = "Sân bay" + " " + '@Html.Raw(Session["diadiemden"])';

            // Gọi hàm geocodeAddress với địa chỉ đã chọn
            geocodeAddress(selectedAddress);
        }, 1000);
    }
    function geocodeAddress(address) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ address: address }, function (results, status) {
            if (status === 'OK') {
                var location = results[0].geometry.location;
                map.setCenter(location);

                var marker = new google.maps.Marker({
                    map: map,
                    position: location,
                    title: address
                });
                searchMap();
            } else {
                alert('Không tìm thấy địa chỉ: ' + status);
            }
        });
    }

    function searchMap() {
        var request = {
            location: map.getCenter(),
            radius: '2000',
            type: 'lodging'
        };
        service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, showPlaces);
    }
    var arrMarkers = [];

    function showPlaces(result, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK && result && result.length > 0) {
            for (i in arrMarkers)
                arrMarkers[i].setMap(null);
            arrMarkers = [];
            for (i in result) {
                var place = result[i];
                var image = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25),
                };
                var content = "<strong>" + place.name + "</strong><br />" +
                    "Địa chỉ: " + place.vicinity + "<br />" +
                    "Số điện thoại: " + place.phoneNumber + "<br />" +
                    "Đánh giá: " + place.rating + "/5";

                var marker = new google.maps.Marker({
                    map: map,
                    icon: image,
                    title: place.name,
                    content: content,
                    position: place.geometry.location,
                    data: place
                });

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.setContent(this.content);
                    infowindow.open(map, this);
                    TimDuong(this.data);
                });
                arrMarkers.push(marker);
            }
        }
    }
    var ddisplay;
    function TimDuong(place) {
        var dservice = new google.maps.DirectionsService();
        if (ddisplay)
            ddisplay.setMap(null);
        ddisplay = new google.maps.DirectionsRenderer();
        ddisplay.setMap(map);

        navigator.geolocation.getCurrentPosition(function (position) {
            var userLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

            var request = {
                origin: userLocation,
                destination: place.geometry.location,
                travelMode: 'WALKING',
                provideRouteAlternatives: true
            };

            dservice.route(request, function (result, status) {
                if (status == "OK") ddisplay.setDirections(result);
            });
        });
    }
    window.onload = geocodeAfterDelay;
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1atzUPfnghWgQwgXjqymZ7sSyVAD1sCI&libraries=places&callback=initMap">
</script>