@model web_banvemaybay.Models.Ve

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h2>Xóa</h2>
<div>
    <h4>Vé</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaydatve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydatve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tienphat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tienphat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoangtra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoangtra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chuyenbay.Diadiemdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chuyenbay.Diadiemdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dattruoc.Tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dattruoc.Tinhtrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hangve.TenHangve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hangve.TenHangve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hanhli.Kg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hanhli.Kg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TTlienhe.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTlienhe.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hanhkhach.Tenhanhkhach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hanhkhach.Tenhanhkhach)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color p15">
            <input type="submit" value="Xóa" class="btn btn-danger" style="background-color: red; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px; border: none;" onclick="return confirm('Bạn có chắc chắn muốn xóa không?');" /> |
            @Html.ActionLink("Quay lại", "Index", null, new { style = "background-color: #0077cc; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;" })
        </div>


    }
</div>
