@model web_banvemaybay.Models.Ve

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dattruoc.Tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dattruoc.Tinhtrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hanhkhach.Tenhanhkhach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hanhkhach.Tenhanhkhach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hanhli.Kg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hanhli.Kg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chuyenbay.Diadiemdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chuyenbay.Diadiemdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDve }) |
    @Html.ActionLink("Back to List", "Index")
</p>
