@model IEnumerable<web_banvemaybay.Models.Ve>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thêm/ sửa xóa</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Vé</li>
        </ol>
        @*<p>
            @Html.ActionLink("Thêm mới", "Create")
        </p>*@

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Bảng số liệu vé
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                Tên hành khách
                            </th>
                            <th>
                                Ngày đặt vé
                            </th>
                            <th>
                                Địa điểm đi
                            </th>
                            <th>
                                Hành lí
                            </th>
                            <th>
                                Giá tiền
                            </th>
                            <th>
                                Tình trạng
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hanhkhach.Tenhanhkhach)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ngaydatve)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Chuyenbay.Diadiemdi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hanhli.Kg)
                                </td>
                                <td>
                                    @String.Format("{0:0,0}", @Html.DisplayFor(modelItem => item.Gia).ToString())đ

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tinhtrang)
                                </td>
                                <td>
                                    @*@Html.ActionLink("Sửa", "Edit", new { id = item.IDve }) |*@
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IDve })
                                    @*@Html.ActionLink("Xóa", "Delete", new { id = item.IDve })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
