@model IEnumerable<web_banvemaybay.Models.Ve>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thêm/ sửa xóa</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Vé</li>
        </ol>
        @*<p>
            @Html.ActionLink("Thêm mới", "Create", null, new { style = "background-color: #0077cc; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;" })
        </p>*@
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Bảng thông tin vé
            </div>

            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                Tình trạng
                            </th>
                            <th>
                                Ngày đặt vé
                            </th>
                            <th>
                                Giá tiền
                            </th>
                            <th>
                                Tiền phạt
                            </th>
                            <th>
                                Số vé
                            </th>
                            <th>
                                Hoàn trả
                            </th>
                            <th>
                                Địa điểm đi
                            </th>
                            <th>
                                Địa điểm đến
                            </th>
                            <th>
                                Hạng vé
                            </th>
                            <th>
                                Hành lí(Kg)
                            </th>
                            <th>
                                Tên hành khách
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tinhtrang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ngaydatve)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gia)đ
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tienphat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sove)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hoangtra)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Chuyenbay.Diadiemdi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Chuyenbay.Diadiemden)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hangve.TenHangve)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hanhli.Kg)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HanhKhach.Tenhanhkhach)
                                </td>
                                <td>
                                    @*@Html.ActionLink("Sửa", "Edit", new { id = item.IDve }, new { style = "background-color: #0077cc; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;" }) |*@
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IDve }, new { style = "background-color: #ffd700; color: black; padding: 5px 10px; text-decoration: none; border-radius: 5px;" }) 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>