@using web_banvemaybay.Models;
@model IEnumerable<Ve>
@{
    ViewBag.Title = "Checkve";
    Layout = null;
}

<h2>Checkve</h2>

<ul>
    @{
        foreach (var item in Model.OrderBy(c => c.IDve))
        {
        <li>
            <p>@item.IDve</p>
            <p>@item.Hanhli.Kg</p>
            <p>@item.Gia</p>
            <p>@item.IDchuyenbay</p>
            <p>@item.Chuyenbay.Diadiemdi</p>
            <p>@item.Chuyenbay.Ngaydi</p>
            <p>@item.Chuyenbay.Diadiemden</p>
            <p>@item.Chuyenbay.Ngayve</p>
            <p>@item.TTlienhe.FullName</p>
            <p>@item.TTlienhe.Phone</p>
            <p>@item.TTlienhe.Email</p>
        </li>
        }
    }
</ul>