@model web_banvemaybay.Models.Dattruoc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="p15">
    <h2>Xóa</h2><br />
    <h4>Đặt trước</h4>
    <hr />
    <dl class="dl-horizontal p15">
        <dt>
            Ngày đặt : @Html.DisplayFor(model => model.NgayDat)
        </dt>

        <dt>
            Tình trạng : @Html.DisplayFor(model => model.Tinhtrang)
        </dt>

        <dt>
            Tài khoản : @Html.DisplayFor(model => model.TaiKhoan.IDtaikhoan)
        </dt>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color p15">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
