@model web_banvemaybay.Models.Dattruoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}



<div class="p15">
    <h2>Chi tiết</h2><br />
    <h4>Đặt trước</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày đặt : @Html.DisplayFor(model => model.NgayDat)
        </dt>

        <dt>
            Tình trạng : @Html.DisplayFor(model => model.Tinhtrang)
        </dt>

        <dt>
            ID tài khoản : @Html.DisplayFor(model => model.TaiKhoan.IDtaikhoan)
        </dt>

    </dl>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.IDdattruoc }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>

