@model web_banvemaybay.Models.Dattruoc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal p15">
    <h2>Sửa</h2><br />
    <h4>Đặt trước</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IDdattruoc)

    <div class="form-group">
        Ngày đặt :
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayDat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Tình trạng :
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tinhtrang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tinhtrang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        ID tài khoản :
        <div class="col-md-10">
            @Html.DropDownList("IDtaikhoan", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDtaikhoan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-dark" />
        </div>
    </div>
    <div class="p15">
        @Html.ActionLink("Quay lại", "Index")
    </div>
</div>
}


