@model web_banvemaybay.Models.TaiKhoan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}



<div class="p15">
    <h2>Xóa</h2>
    <h4>Tài khoản</h4>
    <hr />
    <dl class="dl-horizontal p15">
        <dt>
            Họ và tên : @Html.DisplayFor(model => model.HovaTen)
        </dt>


        <dt>
            Email : @Html.DisplayFor(model => model.Email)
        </dt>

        <dt>
            Số điện thoại : @Html.DisplayFor(model => model.SDT)
        </dt>

        <dt>
            Chức vụ : @Html.DisplayFor(model => model.Chucvu.TenCV)
        </dt>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color p15">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
