@model web_banvemaybay.Models.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}


<div class="p15">
    <h2>Chi tiết</h2><br />
    <h4>Tài Khoản</h4>
    <hr />
    <dl class="dl-horizontal p15">
        <dt>
            Họ và tên : @Html.DisplayFor(model => model.HovaTen)
        </dt>


        <dt>
            Email : @Html.DisplayFor(model => model.Email)
        </dt>

        <dt>
            Số điện thoại : @Html.DisplayFor(model => model.SDT)
        </dt>

        <dt>
            Chức vụ : @Html.DisplayFor(model => model.Chucvu.TenCV)
        </dt>


    </dl>
    <p class="p15">
        @Html.ActionLink("Sửa", "Edit", new { id = Model.IDtaikhoan }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>

