@model web_banvemaybay.Models.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Tài Khoản</h4>
    <hr />
    <dl class="dl-horizontal p15">
        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovaTen)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chucvu.TenCV)
        </dd>

    </dl>
</div>
<p class="p15">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDtaikhoan }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
