@model IEnumerable<web_banvemaybay.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HovaTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chucvu.TenCV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HovaTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chucvu.TenCV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDtaikhoan }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDtaikhoan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDtaikhoan })
        </td>
    </tr>
}

</table>
